PYTHONBREAKPOINT=ipdb.set_trace
SENTRY_DSN=""

FILE_UPLOAD_STRATEGY="direct" # pass-thru
FILE_UPLOAD_STORAGE="local" # s3

AWS_S3_ACCESS_KEY_ID=""
AWS_S3_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME="django-styleguide-example"
AWS_S3_REGION_NAME="eu-central-1"
